
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand mx-auto" href="/articles/list">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        </ul>
       
    </div>
    
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!authService.isAuthenticated()" class="nav-item">
                <a class="nav-link"  routerLink="/auth/signin">Log In</a>
              </li>
              <li *ngIf="!authService.isAuthenticated()" class="nav-item">
                <a class="nav-link" routerLink="/auth/signup">Sign Up</a>
              </li>
              <li *ngIf="authService.isAuthenticated()" (click)="expand()" [class]="dropdownLi">
                  <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Articles</a>
                    <div [class]="dropdownMenu" aria-labelledby="dropdown01">
                     <a class="dropdown-item" routerLink="/articles/list">List Articles</a>
                     <a class="dropdown-item" routerLink="/articles/create">Create</a>
                    </div>
                </li>
              <li *ngIf="authService.isAdmin()" class="nav-item">
                  <a class="nav-link" routerLink="articles/admin">Admin</a>
                </li>
              <li *ngIf="authService.isAuthenticated()" class="nav-item">                 
                  <a class="nav-link" (click)="logout()">Hello, {{authService.getName()}} </a>              
                </li>
              <li *ngIf="authService.isAuthenticated()" class="nav-item">
                 
                  <a class="nav-link" (click)="logout()">Logout</a>
                </li>

        </ul>
    </div>
</nav>