<br>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm" (ngSubmit)="login(f)">
          <legend>To view or create articles you need to Log in</legend>
        <div class="form-group">
          <label for="email">Mail</label>
          <input 
          required
          type="email" 
          id="email"
          pattern="^[a-zA-Z0-9.!#$%’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" 
          [(ngModel)] = "model.email"
          name="email"
          #email="ngModel"
          class="form-control">
          <div class="text-danger" [hidden]="email.valid || email.pristine">Please, enter valid email.</div>
        </div>
        <div class="form-group">

          <label for="password">Password</label>
          <input
            required
            type="password"
            id="password"
            name="password"
            [(ngModel)]="model.password"
            minlength="4"
           #password="ngModel"            
            class="form-control">
            <div class="text-danger" [hidden]="password.valid || password.pristine">Passwort must has at least 6 symbools.</div>
        </div>
        <button class="btn btn-primary" [disabled]="f.invalid" type="submit">Sign In</button>
      </form>
    </div>
  </div>
  
  